target/classes
target/lexit2
target/m2e-wtp
target/maven-archiver
target/test-classes
**/webapp/*.bak
**/webapp/*.BAK
**/js/*.bak
**/js/*.BAK
/target/
src/main/webapp/config_tmp
src/main/webapp/*.config.js
