

/******************************************************************* 
 * General
 *******************************************************************/


/* don't show outline when a column header is clicked upon etc. */
th:active {
	outline: none;
}


/******************************************************************* 
 * Search boxes 
 *******************************************************************/

/* selects in searchboxes tend to be not high enough*/
td.searchbox select {
	height: 21px;
}



/******************************************************************* 
 * Columns names   - clickable for sorting
 *
 * (footers are not visible, but they do exist in the document)
 *******************************************************************/
 
table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}






/******************************************************************* 
 * Columns sort icons
 *
 * (icons indicating the column sorting state) 
 *******************************************************************/

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting_asc_reverse {
	background: url('../images/sort_asc_reverse.png') no-repeat center right;
}

.sorting_desc_reverse {
	background: url('../images/sort_desc_reverse.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

