


/*******************************************************************
 * Horizontally scrollable part of the table
 *
 * This is made available by DataTables 'scrollX' parameter
 * in the table builder.  
 *******************************************************************/

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}



/*******************************************************************
 * Each part of the scrollable body (dataTables_scrollHeader, 
 * dataTables_scrollBody, dataTables_scrollFoot) contains a table 
 * with the class 'display'.
 *******************************************************************/
 
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}






/*******************************************************************
 * Rows
 *******************************************************************/
 
tr.odd {
	background-color: #E2E4FF;
}
tr.even {
	background-color: white;
}


/******************************************************************* 
 * Rows at mouseover 
 *******************************************************************/

tr.odd:hover td {
	background-color: #878AB5 !important;
}
tr.even:hover td {
	background-color: #878AB5 !important;
}

tr.odd td.highlight {
	background-color: #B0BED9 !important;
}
tr.even td.highlight {
	background-color: #B0BED9 !important;
}


/******************************************************************* 
 * Selected rows 
 *******************************************************************/

table.display tr.even.selected td {
	background-color: #B0BED9 !important;
}

table.display tr.odd.selected td {
	background-color: #9FAFD1 !important;
}


/******************************************************************* 
 * Grouping rows 
 * 
 * (available when the 'grouping_column' parameter is used in config) 
 *******************************************************************/
 
table.display tr.group td {
	color: #F2F2F2 !important;
	background-color: #D8D8D8 !important;
}




/*******************************************************************
 * Cells styling
 *******************************************************************/

/* general setting for all cells (not only DataTables cells) */
tr td {
	vertical-align: top;
}


/* general for DataTables cells */
table.display td {
	padding: 3px 10px;
}

/* added to prevent small (default?) chars */
table.display td form select {
	font-size: 100%;
}


table.display td.center {
	text-align: center;	
}

table.display td.right {
	text-align: right;
}

table.display td.left {
	text-align: left;
}


/******************************************************************* 
 * We need to set this for inline edit textareas, so they inherit 
 * the fond family that is set, otherwise the font family will be 
 * unexpected.
 * see http://stackoverflow.com/questions/2874813/why-textarea-and-textfield-not-taking-font-family-and-font-size-from-body 
 *******************************************************************/
 
textarea {
   font-family: inherit;
   font-size: inherit;
}


/*******************************************************************
 * Checkboxes in cells
 *******************************************************************/

table.dataTable input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}